.DS_Store
restapi/config/restapi-config.php
frontend/config/frontend-config.php
common/config/common-config.php
common/config/bootstrap.php
backend/config/backend-config.php
backend/config/left-menu-config.php
backend/config/top-menu-config.php
backend/runtime
plant/config/plant-config.php
console/config/console-config.php
console/runtime
nbproject
.idea/vcs.xml
.idea/chgg-erp.iml
.idea/*
dblogsmongodb.log
.projec
